.entry-page {
    padding-bottom: 1rem;
    height: unset;
    width: 100%;
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 3rem;
}

.entry-page .entry-page-header {
    padding-bottom: .5rem;
    line-height: 1.9rem;
}

.entry-page .entry-page-header h1 {
    color: var(--base-color);
    font-size: 2.5rem;
}

.entry-page .entry-page-header span {
    color: #aaa;
    font-size: .9rem;
}

.entry-page .entry-page-header span span {
    font-weight: bold;
    color: var(--light-base-color);
    font-size: 1.1rem;
}

.entry-page .description {
    margin: .5rem 0 .8rem;
    max-width: 700px;
    font-size: .95rem;
}

.entry-page .footer {
    display: flex;
    font-size: .85rem;
    align-items: center;
    color: #333;
}

.entry-page .footer span {
    padding: 0 .1rem;
}

.entry-page .entries-header {
    margin: 1.5rem 0 0;
    border-top: 1px solid #f1f1f1;
    padding: 1rem .5rem;
}

.entry-page ul {
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0 1.5rem;
}

.entry-page ul li.entry-item {
    list-style: none;
    min-height: 130px;
    background-color: #fff;
    margin: 0 1rem;
    padding: 1rem .5rem;
    border-top: 1px solid #e2e2e2;
    display: grid;
}

.entry-page li.entry-item header {
    font-size: .8rem;
    color: var(--light-base-color)
}

.entry-page li.entry-item header span {
    margin-right: .2rem;
}

.entry-page li.entry-item p {
    font-size: .8rem;
    padding: .2rem .5rem;
}

.entry-page li.entry-item a {
    margin-left: auto;
    text-decoration: none;
    text-transform: capitalize;
}

.entry-page .form-container {
    width: 100%;
    display: grid;
    margin-bottom: 1rem;
}

.entry-page .form-container p {
    font-size: .7rem;
}

.entry-page .form-container form {
    display: grid;
}

.entry-page form textarea {
    width: 100%;
    /* border: none; */
    outline: none;
    padding: .7rem;
    font-family: inherit;
    font-size: .8rem;
    border-radius: 4px;
    background-color: #fff;
}

.entry-page form textarea:focus,
.entry-page form textarea:valid {
    border-color: var(--light-base-color);
}

.entry-page form button {
    padding: .5rem 1rem;
    color: #fff;
    background-color: var(--base-color);
    border: 1px solid var(--base-color);
    text-transform: capitalize;
    margin-left: auto;
    width: fit-content;
    border-radius: 4px;
    cursor: pointer;
}

.entry-page .page-aside .topics-container {
    display: grid;
    row-gap: 1rem;
}

.entry-page .page-aside h5 {
    margin-bottom: 1rem;
}

@media screen and (max-width: 860px) {
    .entry-page {
        grid-template-columns: 1fr;
    }

    .entry-page .page-aside .topics-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 1rem
    }
}