{% extends "logs/base.html" %}
{% block content %}
<main class="entry-page">
    <header class="entry-page-header">
        <h1>#{{ topic }}</h1>
        <span>Created by <span>{{ topic.owner }}</span></span>
    </header>
    <p class="description">{{ topic.description }}</p>
    <div class="footer">
        <p>{{ topic.date_added }}</p><span class="dot">•</span>
        {% if topic.public %}
        <span>Public</span>
        {%else%}
        <span>Private</span>
        {%endif%}
    </div>
    <header class="entries-header">
        {% if entries|length is 0 %}
        <p>No entries</p>
        {% elif entries|length is 1 %}
        <p>1 entry</p>
        {% else %}
        <p>{{entries|length}} entries</p>
        {%endif%}
    </header>
    <ul>
        {% for entry in entries %}
        <li class="entry-item">
            <header class="entry-item-header">
                <span>{{entry.owner}}</span><span class="dot">•</span><span>{{ entry.date_added}}</span>
            </header>
            <p>{{ entry.entry|linebreaks }}</p>
            {% if topic.public is not True %}
            <a href="{% url 'logs:edit_entry' entry.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
            {% endif %}
        </li>
        {% empty %}
        <em>There are no entries for this topic yet.</em>
        {% endfor %}
    </ul>
    <div class="form-container">
        <p>Add a new entry:</p>
        <form action="{% url 'logs:topic' topic.id %}" method='post'>
            {% csrf_token %}
            {{ form.as_p }}
            <button name='submit'><i class="fa-solid fa-paper-plane"></i></button>
        </form>
    </div>
</main>
{% endblock content %}